body{
    background-image: url(http://lh4.ggpht.com/-y7-urjriBC8/UKXAmRKpG8I/AAAAAAAAeaY/yJUM7L_uu-4/brillos-brujamar-1012_thumb%252525255B2%252525255D.gif%253Fimgmax%253D800);
    font-size: 20px;
}

.small {
	font-size: xx-small;
}
